.container {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* height: 100vh; */
}

.button {
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  width: 55px;
  height: 55px;

  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(255, 192, 203, 0.5);

  z-index: 1000;
  position: fixed;
  top: 7%;
  right: 5%;
  /* padding: 15px; */
  /* color: #055491; */

  /* border-radius: 10px; */
  /* background-color: transparent; */
}

.icon {
  color: #f28b82;
}
