.containerForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0px;
  /* align-items: center; */
}

.input {
  /* border: none; */
  /* border-bottom: 1px solid #000; */
  outline: none;
  padding: 15px 15px;
  width: 100%;
  font-size: 20px;
  max-width: 100%;
  width: 310px;
  border-radius: 16px;
}

.buttonWrapper {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-top: 30px;
}
.button {
  padding: 20px;
  width: 100%;
  border-radius: 18px;
  background: var(--color-primaryBlack);
  color: var(--color-white);
  font-size: 22px;
  font-family: monospace;
}

.label {
  font-size: 24px;
  /* line-height: 1.9; */
}

.quantity {
  padding-top: 30px;
  font-size: 21px;
  font-weight: 600;
  line-height: 1.5;
}

.title_text {
  font-size: 21px;
  padding-top: 30px;
  line-height: 1.5;
  font-weight: 600;
}

.radioText {
  font-size: 18px;
  margin-left: 20px;
}

.radioGroup {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media only screen and (max-width: 480px) {
  .containerForm {
    font-size: 29px;
  }
}
