.welcome-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  user-select: none;

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 100vh;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../../assets/images/background_image.jpg");
    // TODO
    background-repeat: no-repeat;


    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    filter: brightness(0.57);


  }

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: 10000;
    pointer-events: none;
    transition: background-color 250ms 1250ms cubic-bezier(1, 0, 1, 1);
  }

  &--opened {
    &::after {
      background-color: white;
    }
  }

  &__header-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    span {
      white-space: pre;
      display: inline-block;
      background: linear-gradient(to bottom, hsl(41, 33%, 80%) 20%, hsl(45, 100%, 80%) 60%, hsl(40, 59%, 70%) 68%);
      background-clip: text;
      color: transparent;
      font-family: esenin, serif;
      position: relative;
      margin: 1px;
      font-weight: 700;
      font-size: 43px;
    }
  }

}
