.timer {
  display: flex;
  font-weight: bold;

  &__time-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65px;
    margin-top: 5px;
  }

  &__value {
    font-size: 1.5em;
    font-family: CormorantInfant, serif;
  }

  &__suffix {
    font-size: 0.9em;
    font-weight: bold;
  }
}
